.wrapper {
  width: 100%;
  border: solid 1px var(--neutral-border);
  border-radius: 4px;
  padding: 16px 0px 16px 24px;
  min-height: 120px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .settingBox {
    width: 221px;
    height: 51px;
    font-size: 12px;
    padding: 8px;
    margin-right: 32px;

    .title {
      font-weight: bold;
      margin-bottom: 4px;
    }
  }

}

 @media screen and (max-width: 1200px) {
    .wrapper {
      padding: 16px;

      .settingBox {
        margin: 10px;
        height: auto;
        width: auto;
      }
    }
}
